{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            <div class="posts">
                <ul class="posts-list">
                    {{ range ( where .Site.RegularPages "Type" "posts") }}

                    <li class="post-item">
                        <a href="{{ .Permalink }}" class="post-item-title">
                            <img src="/{{ .Params.coverImage }}" class="post-item-cover-image"/>
                            <span class="post-item-title">{{.Title}}</span>
                        </a>
                        <span class="post-item-summary"> {{ .Summary }} </span>
                    </li>
                    {{ end }}
                </ul>
            </div>

        </div>
    </main>
{{ end }}
